<app-page-header class="only-mobile"></app-page-header>
<app-header></app-header>
<div class="page-body">
    <p class="page-text" i18n="Home page description|Home page description@@homeDescription">
        Get to know me more through YouTube Shorts on my channel:
    </p>
    <div class="videos-structure">
        <div class="videos-container">
            <div class="video-element">
                <iframe width="353" height="628" src="https://www.youtube.com/embed/FHYdOh2NY9M"
                    title="What is software engineering? #technology #coding #it #developer #programmer #programming"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="video-element">
                <iframe width="353" height="628" src="https://www.youtube.com/embed/gN1BjsB-eNI"
                    title="Difference between developer and programmer" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="video-element">
                <iframe width="353" height="628" src="https://www.youtube.com/embed/f814KyCMzTk"
                    title="Will AI take jobs from developers? #tech #coding #code #technology #tutorial" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>