<div class="header">
    <div class="me-frame">
        <img src="https://avatars.githubusercontent.com/u/70809637" alt="Victor Vaz" class="me">
    </div>

    <div class="me-bio">
        <h3 class="developer" i18n="My proficient|A name for my proficient@@proficient">Full-stack Developer</h3>
        <h1 class="my-name">Victor Vaz</h1>
        <p class="description" i18n="My description|Description of myself@@description">I am {{getAge()}} years old, {{getCollegeStatus()}} and
            I'm very happy to be part of technology area.
        </p>
    </div>
</div>