<app-page-header></app-page-header>

<div class="page-body">
  <p class="page-text" i18n="Portfolio description|Portfolio initial description@@portfolioDescription">
    Have a look at my repositories in the link below:
    <br>
    <a href="https://github.com/dev-victorvaz" target="_blank">github.com/dev-victorvaz</a>
  </p>

  <div class="tab-group-container">
    <mat-tab-group class="tab-group">
      <mat-tab label="Project E-greja" i18n-label="Project E-greja title|Project E-greja title@@projectEGrejaTitle">
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/WRAeytz.png" class="portfolio-image">
        </div>
        <p class="image-link">
          <a href="https://e-greja-89c9b.firebaseapp.com/" target="_blank">e-greja-89c9b.firebaseapp.com</a>
        </p>
        <p class="page-text" i18n="E-greja first paragraph explanation|First paragraph explanation for the project E-greja@@firstEGrejaExplanation">
          This project was done at UniBH using Angular and Firebase and the project has home, weekly agenda, members, dashboard and login pages, take a look:
        </p>
        <div class="image-container">
          <img src="https://i.imgur.com/dua1g8T.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/BrCkb04.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/3nI5Pyw.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/HMt9HlH.png" class="portfolio-image">
        </div>
        <br>
        <p class="page-text" i18n="E-greja second paragraph explanation|Second paragraph explanation for the project E-greja@@secondEGrejaExplanation">
          You can access the website via the link below:
        </p>
        <a href="https://e-greja-89c9b.firebaseapp.com/" target="_blank">e-greja-89c9b.firebaseapp.com</a>
        <br><br>
        <p class="page-text" i18n="E-greja third paragraph explanation|Third paragraph explanation for the project E-greja@@thirdEGrejaExplanation">
          Access de source code via the link below:
        </p>
        <a href="https://github.com/dev-victorvaz/e-greja" target="_blank">github.com/dev-victorvaz/e-greja</a>
      </mat-tab>
      <mat-tab label="Brazil's Flag"i18n-label="Project Brazil's Flag title|Project Brazil's Flag title@@projectBrazilsFlagTitle">
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/YrTD4dL.png" class="portfolio-image">
        </div>
        <br>
        <p class="page-text" i18n i18n="Brazil's flag explanation|Explanation for the project Brazil's flag@@BrazilsExplanation">
          Here is a project where I designed the Brazilian flag using just HTML and CSS.
          <br>
          See the details in:
          <a href="https://github.com/dev-victorvaz/brazilsflag" target="_blank">github.com/dev-victorvaz/brazilsflag</a>
        </p>
      </mat-tab>
    </mat-tab-group>  
  </div>
</div>
