<div class="header">
    <h2 class="developer">Developer</h2>
    <h1 class="my-name">Victor Vaz</h1>
    <p class="description">I have 23 years old, and I’m so glad for be part of technology area.
        <br>
        Always keep myself constantly learning.
    </p>
    <div class="victor-vaz-photo-frame">
        <img src="/assets/images/victor-vaz.jpg" alt="Victor Vaz" class="victor-vaz-image">
    </div>
</div>
Hello World!
<br>
Here is the Victor Vaz website.

<router-outlet></router-outlet>
