div.header {
    background: #232323;
    width: 93%;
    height: fit-content;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 7%;
    display: flex;

    div.me-frame {
        img.me {
            width: 256px;
            height: 256px;
            border-radius: 256px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 256px;
            height: 256px;
        }
    }

    div.me-bio {
        padding-left: 20px;
        padding-top: 35px;
        color: #FFF;

        h1.my-name {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 72px;
            margin: 0;
            margin-top: -8px;
        }
      
        h2.developer {
            font-size: 32px;
            margin: 0;
        }
      
        p.description {
            font-size: 21px;
            padding-top: 5px;
            margin: 0;
        }
    }
}

div.expertise {
    color: #000;

    h2.expertise-title {
        font-size: 48px;
        text-align: center;
    }

    div.expertises {
        display: flex;

        div.expertise-item {
            width: 156px;
            height: fit-content;
            display: inline;
            text-align: center;
            margin-left: 70px;

            img.expertise-item-image {
                width: 128px;
                height: 128px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            p.expertise-item-title {
                font-size: 32px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

div.my-github {
    background: #F1F1F1;
    height: fit-content;
    width: 93%;
    padding-top: 53px;
    padding-bottom: 53px;
    padding-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div.my-github-logo-frame {
        text-align: right;
        padding-right: 80px;

        img.my-github-logo {
            width: 256px;
            height: 256px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    div.my-github-text-frame {
        padding-top: 10px;

        h2.my-github-title {
            font-size: 48px;
        }

        a.my-github-link {
            color: #000;
            font-family: Roboto Mono;
        }
    }
}
  
  @media only screen and (max-width: 768px) {
    div.header {
        height: fit-content;
        width: 97%;
        padding-top: 53px;
        padding-bottom: 53px;
        padding-left: 3%;
        display: block;
        
        div.me-frame {
            text-align: center;
        }

        div.me-bio {
            width: 90%;
        }
    }

    div.expertise {
        div.expertises {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            width: 100%;

            div.expertise-item {
                margin-left: 0;
            }
        }
    }

    div.my-github {
        position: relative;
        display: flex;

        div.my-github-logo-frame {
            position: absolute;
            top: 22%;
            right: 10%;
            padding: 0;

            img.my-github-logo {
                width: 64px;
                height: 64px;
            }
        }
    
        div.my-github-text-frame {
            margin-top: 0;
            padding-left: 3%;

            h2.my-github-title {
                margin: 0;
            }
        }
    }
  }