<div class="header">
    <div class="me-frame">
        <img src="/assets/images/victor-vaz.jpg" alt="Victor Vaz" class="me">
    </div>

    <div class="me-bio">
        <h3 class="developer">Developer</h3>
        <h1 class="my-name">Victor Vaz</h1>
        <p class="description">I have 23 years old, and I’m so glad for be part of technology area.
            <br>
            Always keep myself constantly learning.
        </p>
    </div>
    
</div>

<div class="expertise">
    <h2 class="expertise-title">Expertise</h2>

    <div class="expertises">
        <div class="expertise-item">
            <img src="/assets/images/sql.svg" alt="SQL" class="expertise-item-image">
            <br>
            <p class="expertise-item-title">
                SQL
            </p>
        </div>

        <div class="expertise-item">
            <img src="/assets/images/angular.svg" alt="Angular" class="expertise-item-image">
            <p class="expertise-item-title">
                Angular
            </p>
        </div>

        <div class="expertise-item">
            <img src="/assets/images/azure-devops.svg" alt="Azure DevOps" class="expertise-item-image">
            <p class="expertise-item-title">
                Azure DevOps
            </p>
        </div>

        <div class="expertise-item">
            <img src="/assets/images/java.svg" alt="java" class="expertise-item-image">
            <p class="expertise-item-title">
                Java
            </p>
        </div>
    </div>
</div>

<div class="my-github">
    <div class="my-github-text-frame">
        <h2 class="my-github-title">
            My GitHub
        </h2>
    
        <p class="my-github-description">
            Look my repositories at the follow link:
            <br>
            <br>
            <a href="https://github.com/dev-victorvaz" class="my-github-link" target="_blank">github.com/dev-victorvaz</a>
        </p>
    </div>

    <div class="my-github-logo-frame">
        <img src="/assets/images/github.svg" alt="GitHub" class="my-github-logo">
    </div>
</div>

<div class="contact">
    <h2 class="contact-title">
        Contact
    </h2>

    <p class="contact-description">
        You can contact me by email or social medias:
        <br>
        <br>
        <a href="mailto:contact@victorvaz.com" class="contact-email">contact@victorvaz.com</a>
    </p>

    <div class="contact-icons-div">
        <a href="https://www.linkedin.com/in/dev-victorvaz/" target="_blank"><img src="/assets/images/linkedin.svg" alt="LinkedIn" class="contact-icons"></a>
        <a href="https://www.facebook.com/dev.victorvaz" target="_blank"><img src="/assets/images/facebook.svg" alt="Facebook" class="contact-icons"></a>
        <a href="https://www.instagram.com/dev_victorvaz/" target="_blank"><img src="/assets/images/instagram.svg" alt="Instagram" class="contact-icons"></a>
        <a href="https://www.youtube.com/@dev-victorvaz" target="_blank"><img src="/assets/images/youtube.svg" alt="YouTube" class="contact-icons"></a>
    </div>
</div>

<footer>
    <p class="footer-description">© 2023 by Victor Vaz</p>
</footer>

<router-outlet></router-outlet>
