<div class="header">
    <img src="/assets/images/victor-vaz.jpg" alt="Victor Vaz" class="me">
    <h2 class="developer">Developer</h2>
    <h1 class="my-name">Victor Vaz</h1>
    <p class="description">I have 23 years old, and I’m so glad for be part of technology area.
        <br>
        Always keep myself constantly learning.
    </p>
</div>
<div class="expertise">
    <h2 class="expertise-title">Expertise</h2>
    <img src="/assets/images/sql.svg" alt="SQL" class="expertise-image-sql">
    <p class="expertise-title-sql">
        SQL
    </p>
    <img src="/assets/images/angular.svg" alt="Angular" class="expertise-image-angular">
    <p class="expertise-title-angular">
        Angular
    </p>
    <img src="/assets/images/azure-devops.svg" alt="Azure DevOps" class="expertise-image-azure-devops">
    <p class="expertise-title-azure-devops">
        Azure DevOps
    </p>
    <img src="/assets/images/java.svg" alt="java" class="expertise-image-java">
    <p class="expertise-title-java">
        Java
    </p>
</div>

<router-outlet></router-outlet>
