div.header {
    background: #232323;
    width: 93%;
    height: fit-content;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    display: flex;

    div.me-frame {
        img.me {
            width: 128px;
            height: 128px;
            border-radius: 128px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }

    div.me-bio {
        padding-left: 20px;
        padding-top: 15px;
        color: #FFF;

        h1.my-name {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 0;
            margin-top: -8px;
        }
      
        h3.developer {
            margin: 0;
        }
      
        p.description {
            padding-top: 5px;
            margin: 0;
        }
    }
}

div.expertise {
    padding-top: 10px;
    padding-bottom: 10px;

    h2.expertise-title {
        padding-left: 7%;
    }

    div.expertises {
        display: flex;

        div.expertise-item {
            width: 64px;
            height: fit-content;
            display: inline;
            text-align: center;
            margin-left: 80px;

            img.expertise-item-image {
                width: 64px;
                height: 64px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            p.expertise-item-title {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}

div.my-github {
    background: #F1F1F1;
    height: fit-content;
    width: 93%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div.my-github-logo-frame {
        text-align: right;
        padding-right: 80px;

        img.my-github-logo {
            width: 128px;
            height: 128px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    div.my-github-text-frame {
        margin-top: -15px;

        a.my-github-link {
            color: #000;
            font-family: Roboto Mono;
        }
    }
}

div.contact {
    padding-left: 7%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 30px;

    a.contact-email {
        color: #000;
    }

    div.contact-icons-div {
        margin-left: -6px;

        img.contact-icons {
            margin-left: 6px;
        }
    }
}

div.footer {
    background: #232323;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
    p.footer-description {
        color: #FFF;
    }
}
  
@media only screen and (max-width: 768px) {
    div.header {
        height: fit-content;
        width: 97%;
        padding-top: 53px;
        padding-bottom: 53px;
        padding-left: 3%;
        display: block;
        
        div.me-frame {
            text-align: center;

            img.me {
                width: 256px;
                height: 256px;
            }
        }

        div.me-bio {
            width: 90%;
        }
    }

    div.expertise {
        div.expertises {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            width: 100%;

            div.expertise-item {
                margin-left: 0;
            }
        }
    }

    div.my-github {
        position: relative;
        display: flex;

        div.my-github-logo-frame {
            position: absolute;
            top: 15%;
            right: 10%;
            padding: 0;

            img.my-github-logo {
                width: 32px;
                height: 32px;
            }
        }
    
        div.my-github-text-frame {
            margin-top: 0;

            h2.my-github-title {
                margin: 0;
            }
        }
    }

    div.contact {
        div.contact-icons-div {
            img.contact-icons {
                margin-right: 6px;
            }
        }
    }
}