div.page-header {
    background: var(--color-bg);
    height: fit-content;
    margin: auto;
    margin-top: 1.8vh;
    margin-bottom: 1.8vh;
    padding-left: 16vh;
    display: flex;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--color-div-border);

    h2.page-title {
        color: var(--color-page-header);
        margin-left: 4vh;
        margin-top: 3vh;
    }

}

@media only screen and (max-width: 768px) {
    div.page-header {
        position: fixed;
        margin-top: -0.6vh;
        padding-left: 6.8vh;
        width: 100%;
        z-index: 3;
    }

}