@use '@angular/material' as mat;

@include mat.core();

$my-palette: mat.$indigo-palette;

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

$theme-dark: mat.define-dark-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@mixin theme-light() {
    @include mat.all-component-themes($theme-light);

    --color-bg: white;
    --color-page-text: rgb(117, 117, 117);
    --color-page-header: black;
    --color-div-border: #f1f1f1;
    --color-primary: rgb(14, 31, 123);
    --color-primary-hover: rgb(0, 15, 99);
}

@mixin theme-dark () {
    @include mat.all-component-colors($theme-dark);

    --color-bg: rgba(15, 15, 17, 1);
    --color-page-text: rgba(160, 160, 160, 1);
    --color-page-header: white;
    --color-div-border: #323232;
    --color-primary: #ff4081;
    --color-primary-hover: #fa276d;
}

:root,
:root.light {
    @include theme-light();
}

html,
body {
    height: 100%;
    background-color: var(--color-bg);
}

body {
    display: contents;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: var(--color-primary)
}

div.page-body {
    margin-left: 16vh;
    margin-top: 3vh;
    margin-bottom: 3vh;

    p.page-text {
        color: var(--color-page-text);
    }
}

@media only screen and (max-width: 768px) {
    div.page-body {
        margin-top: 10vh;
        margin-left: 0;

        p.page-text, h3 {
            margin-left: 4vh;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root,
    :root.dark {
        @include theme-dark();
    }
}

:root.dark {
    @include theme-dark();
}